html {
    font-size: 20px;
    text-align: center;
}
body {
    font-family: "Arial", "Meiriyo", sans-serif;
}
#title-MYPROFILE {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2rem;
    letter-spacing: 1.2em;
    text-shadow: 1px 1px 2px mediumturquoise;
    border-bottom: solid 3px rgb(115, 115, 114);
}
.textcolor-skyblue {
    color: skyblue;
}
.textcolor-pink {
    color: rgb(255, 192, 203);
}
#parent > p {
    font-weight: bold;
}